<html ng-app="portfolio">
	<head>
		<title>Portfolio | J. Wat</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script src="js/script.js"></script>
	</head>
	<body ng-controller="TabController as tab">
			<!-- header for md lg -->
			<div class="hidden-xs hidden-sm visible-md visible-lg header-md-lg">
				<div class="head-md-lg-home" ng-click="tab.setTab(1)"></div>
				<div class="button-md-lg">
					<img ng-click="tab.setTab(1)" class="t1" src="img/button-md-lg-home.jpg"/>
					<img ng-click="tab.setTab(2)" class="t2" ng-hide="tab.checkTab(2)" src="img/button-md-lg-about.jpg"/>
					<img ng-click="tab.setTab(2)" class="t2" ng-show="tab.checkTab(2)" src="img/button-md-lg-about-active.jpg"/>
					<img ng-click="tab.setTab(3)" class="t3" ng-hide="tab.checkTab(3)" src="img/button-md-lg-portfolio.jpg"/>
					<img ng-click="tab.setTab(3)" class="t3" ng-show="tab.checkTab(3)" src="img/button-md-lg-portfolio-active.jpg"/>
					<img ng-click="tab.setTab(4)" class="t4" ng-hide="tab.checkTab(4)" src="img/button-md-lg-contact.jpg"/>
					<img ng-click="tab.setTab(4)" class="t4" ng-show="tab.checkTab(4)" src="img/button-md-lg-contact-active.jpg"/>
				</div>
				<div class="head-title">
					<img ng-show="tab.checkTab(2)" src="img/header-md-lg-about.jpg" />
					<img ng-show="tab.checkTab(3)" src="img/header-md-lg-portfolio.jpg" />
					<img ng-show="tab.checkTab(4)" src="img/header-md-lg-contact.jpg" />
				</div>
			</div>


			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="tab.checkTab(1)">
				Index
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="tab.checkTab(2)">
				<about></about>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="tab.checkTab(3)">
				<div ng-controller="PortfolioController as portfolio">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 portfolio-pages" ng-repeat="page in portfolio.pages" ng-show="tab.checkSlide(-1)">
				        <img ng-click="$parent.tab.setSlide($index); portfolio.resetImgNo()" src="{{page.imgsrc}}"/>
				        	<!-- {{ page.imgnumArray[0]}} <br/> -->
				        	<!-- <div >{{ $index }}</div> -->
					</div>
					<div ng-show="tab.checkSlide(1)">
						<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
						</div>
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="text-align: center;">
							<div ng-show="portfolio.sliderAct(tab.getPortfo())">
								<img ng-show="portfolio.leftBlack()" ng-click="portfolio.decrement(tab.getPortfo())" src="img/portfolio-arrow-left-black.jpg" class="left" />
								<img ng-hide="portfolio.leftBlack()" ng-click="portfolio.decrement(tab.getPortfo())" src="img/portfolio-arrow-left.jpg" class="left" />
								<img src="{{ portfolio.pages[tab.getPortfo()].imgArray[portfolio.getImgNo()] }}" id="portimg" />
								<img ng-hide="portfolio.rightBlack(tab.getPortfo())" ng-click="portfolio.increment(tab.getPortfo())" src="img/portfolio-arrow-right.jpg" class="right"/>
								<img ng-show="portfolio.rightBlack(tab.getPortfo())" ng-click="portfolio.increment(tab.getPortfo())" src="img/portfolio-arrow-right-black.jpg" class="right"/>
								<br/>
								<img src="{{ portfolio.pages[tab.getPortfo()].imgnumArray[portfolio.getImgNo()] }}" id="num" style="width:13%"/>
							</div>
							<div ng-show="portfolio.youtubeAct(tab.getPortfo())">
								youtube
<!-- 								<div class="embed-responsive embed-responsive-16by9 col-xs-10 col-sm-10 col-md-10 col-lg-10">
								  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LSJI8RNI9Ps" allowfullscreen></iframe>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="tab.checkTab(4)">
				Contact
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright">
				<img src="img/copyright.jpg"/>
			</div>

	</body>
</html>
