<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div ng-controller="PortfolioController as portfolio">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 portfolio-pages" ng-repeat="page in portfolio.pages" ng-show="tab.checkSlide(-1)">
	        <img ng-click="$parent.tab.setSlide($index); portfolio.resetImgNo(); portfolio.preload($index)" src="{{page.imgsrc}}"/>
		</div>
		<div ng-show="tab.checkSlide(1)">
			<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="text-align: center;">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<img ng-src="{{ portfolio.pages[tab.getPortfo()].title }}">
				</div>
				<div ng-show="portfolio.sliderAct(tab.getPortfo())">
					<img ng-show="portfolio.leftBlack()" ng-click="portfolio.decrement(tab.getPortfo())" src="img/portfolio-arrow-left-black.jpg" class="left" />
					<img ng-hide="portfolio.leftBlack()" ng-click="portfolio.decrement(tab.getPortfo())" src="img/portfolio-arrow-left.jpg" class="left" />
					<img src="{{ portfolio.pages[tab.getPortfo()].imgArray[portfolio.getImgNo()] }}" id="portimg" />
					<img ng-hide="portfolio.rightBlack(tab.getPortfo())" ng-click="portfolio.increment(tab.getPortfo())" src="img/portfolio-arrow-right.jpg" class="right"/>
					<img ng-show="portfolio.rightBlack(tab.getPortfo())" ng-click="portfolio.increment(tab.getPortfo())" src="img/portfolio-arrow-right-black.jpg" class="right"/>
					<br/>
					<img src="{{ portfolio.pages[tab.getPortfo()].imgnumArray[portfolio.getImgNo()] }}" id="num" style="width:13%"/>
				</div>
				<!-- <div ng-show="portfolio.youtubeAct(tab.getPortfo())"> -->
					<div class="embed-responsive embed-responsive-16by9">
					  	<iframe class="embed-responsive-item" ng-src="{{ portfolio.getYoutubesrc(tab.getPortfo()) }}" allowfullscreen></iframe>
					  	
					</div>
					testing123 <br/>
				  	{{ portfolio.getYoutubesrc(tab.getPortfo()) }}
				  	testing123
				<!-- </div> -->
			</div>
		</div>
	</div>
</div>